.body{ background-color:black  }
h1{color: darkgoldenrod;}
h2{color: darkgoldenrod;}
p{color: darkorange;}
ul{color: darkorange;}
.main-text{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}