body{ background-color:black 
 }
h1{color: darkgoldenrod;}
h2{color: darkgoldenrod;}
p{color: darkorange;}
ul{color: darkorange;}
a{color: goldenrod;}

header{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
