body{
     background-color:black 
 }
 
ul,a,p{color: rgb(232, 230, 151);}
h1,h2{color: darkorange;}

header{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 50em
}
